
    


body{
width: 500px;
background:rgb(133, 129, 123);
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
border:black;
}

.logo{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    width: 10px;
}


