
    


body{
width: 500px;
height: 500px;
background:rgb(155, 98, 14);
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
border:black;
}

.logo{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    width: 10px;
}

.formulario {
display: center;
padding: 20px;

}


